 @import "../../../Common.scss";
 #formcustom {
     background: $white;
     border-radius: 3px;
     height: 371px;
     padding: 20px;
     .title_form {
         font-weight: 600;
         font-size: 14px;
     }
     .form_cus {
         margin-top: 15px;
         display: flex;
         flex-wrap: wrap;
     }
     .FormItemInput {
         // margin-right: 20px;
         margin-bottom: 20px;
     }
 }