 @import "../../../Common.scss";
 #search {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     height: 72px;
     position: relative;
     background-color: $white;
     padding: 20px 30px;
     .inputs_ {
         display: flex;
         .search_input {
             width: 312px;
             height: 32px;
         }
         .inputs_item {
             margin-right: 10px;
             height: 32px;
         }
         ._select_input {
             width: 208px;
             height: 32px;
         }
     }
     .action_btn {
         display: flex;
         height: 32px;
         button {
             cursor: pointer;
             margin-left: 10px;
             .icon_ {
                 width: 20px;
                 height: 20px;
             }
         }
     }
 }